
.tree-view {
    cursor: pointer;
}

.tree-view .node-text {

    cursor: pointer;
}
.tree-view .tree-view{
    padding-left:15px;
}
.tree-view input {
    vertical-align: middle;
    cursor:default;
    margin:0px;
}

.tree-view .node-handle {
    cursor:pointer;
    width: 16px;
    text-align: center;
    display:inline-block;
    vertical-align: middle
}
.tree-view .node-handle .tree-view-expand:before {
    content: "+";
}
.tree-view .node-handle .tree-view-collapse:before {
    content: "-";
}
.tree-view .node-handle .tree-view-child:before {
    content: " ";
}

.tree-view .tree-view-node {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    background-color: rgba(0, 122, 255, 0);
    color:auto;
}
   
.tree-view .tree-view-node.focus {
    background-color: rgba(0, 122, 255, 1);
    color:white;
}