
.tree-view {
    cursor: pointer;
}
/* .tree-view .tree-view * {

    max-height:100px;
    overflow: auto;
} */
.tree-view .node-text {

    cursor: pointer;
}
.tree-view .tree-view{
    /*background-color: rgba(255,0,0,0.1);*/
    padding-left:15px;
    /* border: 1px rgba(0,160,255,0) dashed; */
}
/* .tree-view.active {
    cursor:pointer;
    background-color: rgba(0,160,255,0.5);
    border: 1px rgba(0,160,255,1) dotted;
} */
.tree-view input {
    vertical-align: middle;
    cursor:default;
    margin:0px;
}

.tree-view .node-handle {
    cursor:pointer;
    width: 16px;
    text-align: center;
    display:inline-block;
    vertical-align: middle
}
.tree-view .node-handle .tree-view-expand:before {
    content: "+";
}
.tree-view .node-handle .tree-view-collapse:before {
    content: "-";
}
.tree-view .node-handle .tree-view-child:before {
    content: " ";
}
/* .tree-view .tree-view-too-many-children {
    float:right;
    font-size: smaller;
} */
.tree-view .tree-view-node {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    border: 1px solid rgba(0, 122, 255, 0);
}
   
.tree-view .tree-view-node.focus {
    box-shadow: 0 1px 5px rgba(0, 122, 255, 1);
    border: 1px solid rgba(0, 122, 255, 1);
}